.bg-vini {
    background: url(../imagens/download.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.icon {
    font-size: 3rem;
}

.title {
    font-size: 5rem;
    color: white;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000
}